.left-panel {
  height: 100vh;
  background: #fff;
  padding-top: 15px;
}
h4 {
  text-align: center;
  padding-bottom: 15px;
}

.list-buildings li span {
  cursor: pointer;
}

.list-buildings li span:hover {
  font-weight: bold;
}