.left-panel {
  height: 100vh;
  background: #fff;
  padding-top: 15px;
}
h4 {
  text-align: center;
  padding-bottom: 15px;
}

li {
  list-style-type: none;
}

.btn-edit, .btn-cancel {
  color: #fff;
}